body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
input, select {
    background: var(--vscode-input-background);
    border: 1px solid var(--vscode-panel-border);
    color: var(--vscode-input-foreground);
}
input:focus, select:focus, div:focus {
    outline-color: var(--vscode-focusBorder) !important;
}
.btn:focus, .tbarbtn:focus {
    outline-style: double;
    outline-color: var(--vscode-focusBorder) !important;
}
#search {
    flex: 0 0 auto;
    display: flex;
}
#search .btn {
    flex: 0 0 auto;
    margin: 5px;
}
#searchtype {
    flex: 1 1 25%;
}
#searchid {
    flex: 1 1 25%;
}
#searchname {
    flex: 1 1 50%;
}
#search .searchinput, #search .ms-options-wrap {
    margin: 5px 0px 5px 5px;
}
#content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}
#objects {
    flex: 1 1 auto;
}
#symbols {
    flex: 1 1 250px;
}
.gutter {
    float: left;
    background-color: var(--vscode-panel-border);
    cursor: ew-resize;
    margin: 0;
}
.contentcol {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}
.contcolhdr {
    display:flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    flex: 0 0 auto;
    overflow: hidden;
    background-color: var(--vscode-sideBarSectionHeader-background);
    color: var(--vscode-sideBarSectionHeader-foreground);
    padding: 2px 5px;
}
.contcolname {
    flex: 1 1 auto;
    overflow: hidden;
    font-size: var(--font-size);
    font-weight: bold;    
    font-family: var(--font-family);    
}
.contcoltb {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
}
.symbolscont {
    border: 1px solid var(--vscode-panel-border);
    overflow: auto;
}
.treeitem {
    font-weight: normal;
    cursor: default;
}
.treeitem .shead {
    display: flex;    
    align-items: center;
    justify-content: flex-start;
    padding: 2px 0px
}

.treeitem .sheadcol:before, .treeitem .sheadexp:before, .treeitem .sheadnoexp:before {
    content: "";
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.vscode-dark .treeitem .sheadcol:before, .vscode-high-contrast .treeitem .sheadcol:before {
    background: url('../../../resources/images/dark/tree-expand.svg')
}
.vscode-dark .treeitem .sheadexp:before, .vscode-high-contrast .treeitem .sheadexp:before {
    background: url('../../../resources/images/dark/tree-collapse.svg')
}
.vscode-light .treeitem .sheadcol:before {
    background: url('../../../resources/images/light/tree-expand.svg')
}
.vscode-light .treeitem .sheadexp:before {
    background: url('../../../resources/images/light/tree-collapse.svg')
}


.treeitem .shead:hover {
    background-color: var(--vscode-list-hoverBackground);
    color: var(--vscode-list-hoverForeground);
}
.symbolscont:focus .treeitem .selected, .symbolscont:focus .treeitem .selected:hover {
    background-color: var(--vscode-list-activeSelectionBackground) !important;
    color: var(--vscode-list-activeSelectionForeground) !important;
}
.treeitem .selected {
    background-color: var(--vscode-list-inactiveSelectionBackground) !important;
    color: var(--vscode-list-inactiveSelectionForeground) !important;
}
.treeitem .ico {
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.treeitem .cap {
    flex: 1 1 auto;
    padding: 0px 2px 0px 6px;
    white-space: nowrap;
}
.treelist {
    padding: 0px 0px 0px 10px;
}
.btn {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: 0px solid var(--vscode-panel-border);
    font-size: var(--font-size);
    font-weight: var(--font-weight);    
    font-family: var(--font-family);
    padding:5px;
}
.btn:hover, .icobtn:hover {
    background-color: var(--vscode-button-hoverBackground);
}
.icobtn {
    flex: 0 0 31px;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: 0px solid var(--vscode-panel-border);
    width: 31px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}



.tbarbtn {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: 0px solid var(--vscode-panel-border);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-family: var(--font-family);
    padding:2px;
    margin:2px;
}
.tbarbtn:hover {
    background-color: var(--vscode-button-hoverBackground);
}
