button:focus {
    outline-color: var(--vscode-focusBorder) !important;
}
button:hover {
    cursor: pointer;
}

#symbols {
    flex: 1 1 auto;
    border: 1px solid var(--vscode-panel-border);
}
#proppanel {
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}
#prop {
    flex: 1 1 100px;    
}

.headpanel {
    flex: 0 0 auto;    
    margin: 0;
    padding: 4px;
    border-top: 1px solid var(--vscode-panel-border);
}
.headpanel .hptitle {
    font-weight: bold;
    padding: 2px;
}
.headpanel .hptext {
    padding: 2px 10px; 
    overflow: hidden;
}
.headpanel .hptbar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}
.headpanel .hptbar .hpbtn {
    flex: 0 0 18px;
    height: 18px;
    background-position: center center;
    background-size: 16px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0px none;
}
.headpanel .hptbar .hptitle {
    flex: 1 1 auto;
}

.gutter {
    background-color: var(--vscode-panel-border);
    cursor: ns-resize;
    margin: 0;
}

.vscode-dark .btnico-refresh, .vscode-high-contrast .btnico-refresh {
    background-image: url(../../../resources/images/dark/refresh.svg);
}
.vscode-dark .btnico-sync, .vscode-high-contrast .btnico-sync {
    background-image: url(../../../resources/images/dark/sync.svg);
}
.vscode-light .btnico-refresh {
    background-image: url(../../../resources/images/light/refresh.svg);
}
.vscode-light .btnico-sync {
    background-image: url(../../../resources/images/light/sync.svg);
}