body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
input, select {
    background: var(--vscode-input-background);
    border: 1px solid var(--vscode-panel-border);
    color: var(--vscode-input-foreground);
}
input:focus, select:focus, div:focus {
    outline-color: var(--vscode-focusBorder) !important;
}
#search .btn:focus {
    outline-style: double;
    outline-color: var(--vscode-focusBorder) !important;
}
#search {
    flex: 0 0 auto;
    display: flex;
}
#search .btn {
    flex: 0 0 auto;
    margin: 5px;
}
#searchtype {
    flex: 1 1 25%;
}
#searchid {
    flex: 1 1 25%;
}
#searchname {
    flex: 1 1 50%;
}
#search .searchinput, #search .ms-options-wrap {
    margin: 5px 0px 5px 5px;
}
#search .btn {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: 0px solid var(--vscode-panel-border);
    font-size: var(--font-size);
    font-weight: var(--font-weight);    
    font-family: var(--font-family);
    padding:5px;
    white-space: nowrap;
}
#search .btn:hover, .icobtn:hover {
    background-color: var(--vscode-button-hoverBackground);
}


.content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}


.loading {
    display: block;
    margin: 20px;
    padding: 10px 30px;
}
.types {
    flex: 0 0 170px;
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}
.types .btnArea {
    margin:5px 10px;
    padding:0;
    box-sizing: border-box;
}
.types .btn {
    margin:0;
    padding: 4px 10px;
    width: 150px;
    box-sizing: border-box;
    cursor: default;
}
.azgridviewcont {
    flex: 1 1 auto;
    margin: 0 10px 0 0;
}



.btnstd {
    border: 1px solid var(--vscode-panel-border);
}
.btnsel {
    border: 1px solid var(--vscode-panel-border);
    background-color: var(--vscode-list-inactiveSelectionBackground) !important;
    color: var(--vscode-list-inactiveSelectionForeground) !important;
}
.btnsel:focus {
    background-color: var(--vscode-list-activeSelectionBackground) !important;
    color: var(--vscode-list-activeSelectionForeground) !important;
}

