#searchtype {
    flex: 1 1 25%;
}
#searchid {
    flex: 1 1 25%;
}
#searchname {
    flex: 1 1 50%;
}
.types {
    flex: 0 0 170px;
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}
.types .btnArea {
    margin:5px 10px;
    padding:0;
    box-sizing: border-box;
}
.types .btn {
    margin:0;
    padding: 4px 10px;
    width: 150px;
    box-sizing: border-box;
    cursor: default;
}
.azgridviewcont {
    flex: 1 1 auto;
    margin: 0 10px 0 0;
}


